.dashboard-books{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-book-child{
 text-align: center;
}

.billing-form{
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 5px;
}

.billing-form-input{
    display: flex;
    justify-content: space-between;
}

.billing-input-child{
    border: 1px solid rgb(219, 216, 216);
    padding: 9px 7px;
    border-radius: 5px;
}

.billing-form-btn{
    text-align: end;
    margin-right: 5px;
}

.formbutton{
    padding: 8px 18px;
    margin-top: 10px;
    background-color:  #49a3f1;
    color: white;
    border-radius: 5px;
    border: none;
}

.formbutton:hover{
  color:#49a3f1 ;
  background-color:white;
  border: 1px solid #49a3f1;
}



.dashboard-book-child img{
    height: 150px;
    width: 200px;
    background-color:rgb(173, 235, 214);
}

.dashboard-delup-btn{
    display: flex;
    flex-direction: column;
}

.dashboard-NewBook-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 12px;
}